$color_brand:#132EBE;
$color_success:#67c23a;
$color_warning:#e6a23c;
$color_danger:#f56c6c;
$color_info:#909399;

$color_text_primary:#303133;
$color_text_primary_reverse:#ebeef5;
$color_text_regular:#606266;
$color_text_disabled:#c0c4cc;

$color_border_base:#dcdfe6;
$color_border_dark:#cdd0d6;
$color_border_light:#ebeef5;

$color_bg_page:#f2f3f5;
$color_bg_black:#000000;
$color_bg_white:#ffffff;